<!DOCTYPE html>
<html>
<head>
<style>
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

#main {
 margin:0 auto;
 float:none;
}

#inputdiv{
    vertical-align:middle;
}

#searchinput{
    width:80%;
}

#searchbtn{
    width:15%;
    float:right;
}

#sortdiv {
    float:right;
}

.input-searchbar { 
    width: 461px; 
}
</style>

<link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" media="screen">
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

<script>
    $(function() {
        $("#searchtype button").click(function () {
            $("#sortvalue").val($(this).attr("id"));
        });
    });
</script>

</head>
<body>



<div id="main" class="span9" style="position:relative;top:30px">
<center>
<h2>SCEARCH</h2>
A Better Soundcloud Search
</center>
</br>
<div class="row">
<div id="inputdiv" class="span9">
    <form id="searchform" method="POST" action="search">
            <input type="text" name="searchstr" id="searchinput" class="input-searchbar" onClick="this.select();" placeholder="Search" onkeydown="if (event.keyCode == 13) document.getElementById('search').click()">
            <button type="submit" id="searchbtn" class="btn">Search</button>
            <div class="row">
                <div id="sortdiv">
                Sort By:
                <div id="searchtype" class="btn-group" data-toggle="buttons-radio">
                    <button id="plays" type="button" class="btn btn active">Plays</button>
                    <button id="favorites" type="button" class="btn btn">Favorites</button>
                    <button id="hype" type="button" class="btn btn">Hype</button>
                </div>
                </div>
            </div>   
            <input name="sort" type="hidden" id="sortvalue"/>
    </form>
</div>
</div>
<div class="row">
<div id="resultcontainer" lass="span9">
   {% autoescape false %}
    {{ result }}
   {% endautoescape %}
</div>
</div>
<br/>
<br/><br/>
<br/>
<br/>
<div id="footer">
<center>
Returns Top 10 Sorted by # of Plays
</br>
<img src="http://developers.soundcloud.com/assets/logo_big_black-75c05c178d54c50c8ff0afbb282d2c21.png" align="bottom"/>
</center>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41543000-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

</body>
</html>